<!--{template header}-->
<!--{template banner}-->
<div class="container  mar-t-1 mar-b-1 bg-white">

<div class="row">
<div class="col-sm-12">
<ol class="breadcrumb">
  <li><a class="first" href="{SITE_URL}">{$setting['site_name']}</a></li>

  <li class="active">ask2问答系统购买</li>
</ol>

<hr>
<table class="table">
  <thead>
  <th>服务项目/功能</th>  <th>免费版</th> <th>基础版(不带微信)</th> <th>中小企业版(不带app)</th><th>旗舰版</th>
  </thead>
  <tbody>
  <tr>
  <td>商业授权</td>
 <td>不支持</td>
<td>支持</td>
 <td>支持</td>

 <td>支持</td>
  
  
  </tr>
  
    <tr>
  <td>问答采集旗舰版</td>
 <td>支持(不提供升级)</td>
<td>支持(带升级)</td>
 <td>支持(带升级)</td>

 <td>支持(带升级)</td>
  
  
  </tr>
      <tr>
  <td>文章采集旗舰版</td>
 <td>不支持</td>
<td>不支持</td>
 <td>支持(带升级)</td>

 <td>支持(带升级)</td>
  
  
  </tr>
    <tr>
  <td>文章问答超强标签识别</td>
 <td>问答支持</td>
<td>文章问答支持</td>
 <td>文章问答支持</td>

 <td>文章问答支持</td>
  
  
  </tr>
  
   <tr>
  <td>微信高级版</td>
 <td>不支持</td>
<td>支持(不提供升级)</td>
 <td>支持(提供升级)</td>

 <td>支持(提供升级)</td>
  
  
  </tr>
    <tr>
  <td>手机Wap支持</td>
 <td>支持(仅一套)</td>
<td>支持(两套Wap模板)</td>
 <td>支持(全部)</td>

 <td>支持(全部)</td>
  
  
  </tr>
   <tr>
  <td>安卓/IOS</td>
 <td>不支持</td>
<td>不支持</td>
 <td>支持(打包安装,不带源码)</td>

 <td>支持(安装带源码)</td>
  
  
  </tr>
  
    <tr>
  <td>二次开发全部文档提供</td>
 <td>不支持</td>
<td>支持(PC和Wap)</td>
 <td>支持</td>

 <td>支持</td>
  
  
  </tr>
   <tr>
  <td>伪静态技术提供</td>
 <td>不支持</td>
<td>支持</td>
 <td>支持</td>

 <td>支持</td>
  
  
  </tr>
  
   <tr>
  <td>全文检索技术提供</td>
 <td>不支持</td>
<td>支持</td>
 <td>支持</td>

 <td>支持</td>
  
  
  </tr>
  
   <tr>
  <td>程序安装技术支持</td>
 <td>不支持</td>
<td>一对一协助支持</td>
 <td>一对一协助支持</td>
<td>一对一协助支持</td>
 <td>一对一协助支持</td>
  
  
  </tr>
  
    <tr>
  <td>程序升级技术支持</td>
 <td>不支持</td>
<td>一对一协助支持</td>
 <td>一对一协助支持</td>

 <td>一对一协助支持</td>
  
  
  </tr>
  
  <tr>
  <td>程序Bug修改技术支持</td>
 <td>官网支持(除个人二次开发)</td>
<td>一对一支持</td>
 <td>一对一支持</td>

 <td>一对一支持</td>
  
  
  </tr>
    <tr>
  <td>程序使用问题支持</td>
 <td>官网支持</td>
<td>一对一支持</td>
 <td>一对一支持</td>

 <td>一对一支持</td>
  
  
  </tr>
   <tr>
  <td>第三方平台整合</td>
 <td>官网支持</td>
<td>支持</td>
 <td>支持</td>

 <td>支持</td>
  
  
  </tr>
   <tr>
  <td>模板二次开发支持</td>
 <td>不支持</td>
<td>不支持</td>
 <td>支持</td>

 <td>支持</td>
  
  
  </tr>
  
   <tr>
  <td>网站数据迁移</td>
 <td>不支持</td>
<td>支持</td>
 <td>支持</td>

 <td>支持</td>
  
  
  </tr>
  <tr class="itinfo"><td colspan="6" class="text-center"><strong>技术支持年限</strong></td></tr>
   <tr>
  <td></td>
 <td>不支持</td>
<td>1年</td>
 <td>1年</td>

 <td>3年(中间官方新增任何产品免费更新)</td>
  
  
  </tr>
   <tr class="itinfo"><td colspan="6" class="text-center"><strong>软件费用</strong></td></tr>
   <tr>
  <td></td>
 <td>免费</td>
<td>5000</td>
 <td>12000</td>

 <td>100000</td>
  
  
  </tr>
   <tr class="itinfo"><td colspan="6" class="text-center"><strong>个性化定制</strong></td></tr>
   <tr>
  <td  colspan="6">
   
  根据实际需求，提供相关需求文档，我们做出对应报价单
  </td>

  
  </tr>
  
   <tr class="itinfo"><td colspan="6" class="text-center"><strong>以下情况不提供技术支持</strong></td></tr>
   <tr>
  <td  colspan="6">
   <ul class="qlist">
     <li>1.未授权站长遇到相关技术问题，官网支持</li>
      <li>2.个人私自二次开发后导致的问题</li>
       <li>3.服务器或者虚拟主机环境导致问题</li>
        <li>4.对数据库修改造成的问题</li>
         <li></li>
   </ul>
    
  </td>

  
  </tr>
  </tbody>
  </table>

<div class="buymethod">
  <h2>付款方式</h2> 

<table class="table">
<thead> <th>开户行</th><th>账号名</th><th>账号</th></thead>
<tbody>
<tr>

<td>
支付宝
</td>

<td>
北京正影网络科技有限公司
</td>
<td>
15911179271@139.com
</td>
</tr>

<tr>

<td>
中国建设银行北京西四环支行(对公账号)
</td>

<td>
北京正影网络科技有限公司
</td>
<td>
11001007200053010026
</td>
</tr>
</tbody>
</table>
<div class="buytip">
<ul class="nav">
<li>
购买注意事项：
</li>
<li>

1、个人用户不提供发票。企业用户如需开具发票需要在销售款上另加10%税款和20元EMS费用！
</li>
<li>

2、提示：通过非以上账号付款导致的任何问题将由客户自行承担
</li>
</ul>

</div>
</div>


<div class="row">
                    <div class="span12 padding20">
                        <address>
                            <strong>联系方式</strong><br>
                                                     官方邮箱：vip_ask2@163.com<br>
                           技术咨询 QQ【617035918】  ： <a href="http://wpa.qq.com/msgrd?v=3&amp;uin=617035918&amp;site=qq&amp;menu=yes" target="_blank"><img border="0" title="点击这里给我发消息" alt="点击这里给我发消息" src="http://wpa.qq.com/pa?p=2:7560483:41"></a><small>（备注：ask2问答技术咨询）</small><br>
                          售前/售后咨询 QQ 【980306726】 ： <a href="http://wpa.qq.com/msgrd?v=3&amp;uin=980306726&amp;site=qq&amp;menu=yes" target="_blank"><img border="0" title="点击这里给我发消息" alt="点击这里给我发消息" src="http://wpa.qq.com/pa?p=2:7560483:41"></a><small>（备注：ask2问答销售咨询）</small><br>
                      
                        </address>
                    </div>
                </div>


</div>


</div>

</div>
<!--{template footer}-->