<!--{template header}-->
<!--{template banner}-->
<div class="container  mar-t-1 mar-b-1 bg-white">

<div class="row">
<div class="col-sm-7 b-r-line">
<ol class="breadcrumb">
  <li><a class="first" href="{SITE_URL}">{$setting['site_name']}</a></li>

  <li class="active">系统下载</li>
</ol>


<hr>
 <!--文章内容开始-->
        <div class="article font-15" >
            <!-- 文章标题 -->
            <h1 class="art-title font-18">更新日志</h1>
            <!-- 文章信息 -->
            <div class="art-info">
            
                <div class="content width_auto" >
                    <div class="mod-essence-ans clearfix">
                        <div class="main-content" style="z-index:0">
                     
                            <div class="sections-wrap">
                        <!-- 前言 -->
                        <div class="section brief">
                        
                        
                        <div class="content text">
                                     <!-- 创建时间 -->
              <span class="art-time text-danger font-18" style="color:red;">ask2V3.1.1纯净版本(无测试数据)  更新时间：</span>  <span class="art-time text-danger font-18" style="margin-left:20px;color:red;">2016-05-22</span>
              
                <!-- 管理员编辑，删除入口 --><!-- 原创logo --><!-- 主体内容 -->
                             <ul class="nav">
                             
                             <li class="mar-t-05 b-b-line">
                        1. 首页左侧新增二级分类导航
                             
                             </li>
                              <li class="mar-t-05 b-b-line">
                           2. 修改问题详情页面第一页回答标题去掉第一页，提示，只显示第二页+后提示
                             
                             </li>
                             <li class="mar-t-05 b-b-line">
                             
                            
3. 修复分页后第一页链接问题（会出现重复url）
                             </li>
                             <li class="mar-t-05 b-b-line">
                           4. 增加文章分类功能
                             </li>
                             <li class="mar-t-05 b-b-line">
                            5. 增加文章标签功能，并增加文章标签页
                             </li>
                             
                              <li class="mar-t-05 b-b-line">
                          6. 支持普通用户能修改自己发布的文章
                             </li>
                             
                              <li class="mar-t-05 b-b-line">
                          7. 增加首页热文展示,管理员后台博客列表里可以设在首页热文展示文章
                             </li>
                             
                              <li class="mar-t-05 b-b-line">
                        <span style="color:red">8. 修改最佳答案采纳不是最佳答案的问题(最后更新2016.5.5)</span>  
                             </li>
                              <li class="mar-t-05 b-b-line">
                        <span style="color:red">9. 增强安全机制，防灌水，屏蔽第三方软件模拟各种网站操作(最后更新2016.5.14)</span>  
                             </li>
                               <li class="mar-t-05 b-b-line">
                        <span style="color:red">10.修改发布文章按钮的链接，没有伪静态的服务器估计点击报404，必须在域名后面加问号解决问题，已修复(最后更新2016.5.20)</span>  
                             </li>
                             <li class="mar-t-05 b-b-line">
                        <span style="color:red">11.修复采集(最后更新2016.5.22)</span>  
                             </li>
							  <li class="mar-t-05 b-b-line">
                        <span style="color:red">12.修复css文件夹里图片出现压缩不显示问题(最后更新2016.5.27)</span>  
                             </li>
                             </ul>
                            </div>
                            
                            
                          <div class="content text mar-t-1">
                                     <!-- 创建时间 -->
                <span class="art-time text-danger font-18">ask2V3.1稳定版  更新时间：</span>  <span class="art-time text-danger font-18" style="margin-left:20px;">2016-04-15</span>
                <!-- 管理员编辑，删除入口 --><!-- 原创logo --><!-- 主体内容 -->
                             <ul class="nav">
                             
                             <li class="mar-t-05 b-b-line">
                           1  修改360下首页搜索框出现多2像素的问题
                             
                             </li>
                              <li class="mar-t-05 b-b-line">
                            2 修复用户安装时候出现ask_user表会出插入几条管理员数据问题(V3.1测试版有这个问题)
                             
                             </li>
                             <li class="mar-t-05 b-b-line">
                             
                             3 更改网站弹出登录方式，默认未登陆代码放底部，更改成动态加载
                             </li>
                             <li class="mar-t-05 b-b-line">
                             4 用户安装系统后不会再出现登录不上情况(以前版本还有部分需伪静态设置好，现在无要求)
                             </li>
                             <li class="mar-t-05 b-b-line">
                             5 修复后台用户管理删除用户后白板页面的问题(因为删除后没有跳转返回原来页面)
                             </li>
                             </ul>
                            </div>
                            
                            <div class="content text mar-t-1">
                                     <!-- 创建时间 -->
                <span class="art-time text-danger font-18">ask2V3.1 更新时间：</span>  <span class="art-time text-danger font-18" style="margin-left:20px;">2016-04-13</span>
                <!-- 管理员编辑，删除入口 --><!-- 原创logo --><!-- 主体内容 -->
                             <ul class="nav">
                             
                             <li class="mar-t-05 b-b-line">
                           1  修改文章详情不显示分类名问题
                             
                             </li>
                              <li class="mar-t-05 b-b-line">
                            2 修改默认伪静态设置为不做伪静态设置，防止IIS服务器下不能使用，IIS伪静态设置会单独发布文章
                             
                             </li>
                             <li class="mar-t-05 b-b-line">
                             
                             3 修改公告列表页面样式问题
                             </li>
                             <li class="mar-t-05 b-b-line">
                             4 修改提问者无法采纳回答，只有管理员才能采纳
管理员无法删除未采纳的问题，无法修改已采纳的回答
                             </li>
                              <li class="mar-t-05 b-b-line">
                           1  修改默认安装的时候管理员账号密码只能用admin和admin的问题
                             
                             </li>
                             </ul>
                            </div>
                            
                           
                            
                        </div>
                      </div>
                </div>
            </div>
           
    </div>



</div>
</div>


</div>

<div class="col-sm-5 downlist">

            <!--下载信息开始-->
          <h3 class="font-15 mar-t-05">
                    最新版本
          </h3>
          <hr>
          <ul class="nav">
         
          <li class="b-b-line mar-t-1 clear">
      
						<a href="http://www.ask2.cn/downloads/ask2V3.1.1.zip" class="text-danger  pull-right nopadding">下载</a>
					
				
          <p class="pull-left">ask2问答系统V3.1.1无BOM纯净版<span style="color:red">(最后更新2016.5.27)</span></p>
          </li>
          
          </ul>
          <hr class="clear">
           <h3 class="font-15 mar-t-1">
        历史版本
          </h3>
          <hr>
         <ul class="nav clear">
         
          <li class="b-b-line clear">
      
						<a href="http://www.ask2.cn/downloads/ask2V3.1稳定版.zip" class="text-danger  pull-right nopadding">下载</a>
					
				
          ask2问答系统V3.1稳定版(最后更新4.21)
          </li>
          
         
         
          
          
          
           <li class="b-b-line clear">
      
						<a href="http://www.ask2.cn/downloads/ask2V3.1.zip" class="text-danger  pull-right nopadding">下载</a>
					
				
          ask2问答系统V3.1测试版
          </li>
          <li class="b-b-line clear">
      
						<a href="http://www.ask2.cn/downloads/ask2V3.0.1.zip" class="text-danger  pull-right nopadding">下载</a>
					
				
          ask2问答系统V3.0.1
          </li>
           <li class="b-b-line clear">
      
						<a href="http://www.ask2.cn/downloads/ask2V3.0.zip" class="text-danger  pull-right nopadding">下载</a>
					
				
          ask2问答系统V3.0
          </li>
          </ul>
           <hr class="clear">
           <h3 class="font-15 mar-t-1">
          辅助工具
          </h3>
          <hr>
            <ul class="nav clear">
             <li class="b-b-line clear">
      
						<a href="http://www.ask2.cn/downloads/anquan.zip" class="text-danger  pull-right nopadding">下载</a>
					
				
                      <p class="pull-left">  ask2V3.1和ask2V3.1.1版本安全升级包【<a href="http://www.ask2.cn/note/view/26.html" target="_blank">查看升级方法</a>】</p>
          </li>
          <li class="b-b-line clear">
      
						<a href="http://www.ask2.cn/downloads/sitemap.zip" class="text-danger  pull-right nopadding">下载</a>
					
				
                   <p class="pull-left">     站点地图Sitemap生成【<a href="http://www.ask2.cn/note/view/12.html" target="_blank">查看使用方法</a>】</p>
          </li>
           <li class="b-b-line clear">
      
						
					
				
                  <p class="pull-left">      多说插件集成到ask2问答系统【<a href="http://www.ask2.cn/note/view/13.html" target="_blank">查看使用方法</a>】</p>
          </li>
          
            <li class="b-b-line clear">
      
						<a href="http://www.ask2.cn/downloads/thipask2.5升级ask2V3.1.zip" class="text-danger  pull-right nopadding">下载</a>
					
				
        <p class="pull-left">thipask2.5升级ask2V3.1安装包 <a class=" text-success" href="http://www.ask2.cn/note/view/14.html" target="_blank">【查看使用方法】</a></p>
          </li>
          </ul>
            <!--下载信息结束-->
      
</div>
</div>

</div>
<!--{template footer}-->