<!--{template header}-->

<div class="container  mar-t-1 mar-b-1 bg-white">

<div class="row">
<div class="col-sm-12">

<table class="table table-bordered font-18">
  <thead>
  <th>服务项目/功能</th>  <th>免费版</th> <th>基础版(不带微信)</th> <th>中小企业版(不带app)</th><th>旗舰版</th>
  </thead>
  <tbody>
  <tr>
  <td>商业授权</td>
 <td ><span class="wrong-w">×</span></td>
<td><span class="right-r">√</span></td>
 <td><span class="right-r">√</span></td>

 <td><span class="right-r">√</span></td>
  
  
  </tr>
  
 


  
   <tr>
  <td>微信高级版</td>
 <td ><span class="wrong-w">×</span></td>
 <td ><span class="wrong-w">×</span></td>
 <td><span class="right-r">√</span></td>

 <td><span class="right-r">√</span></td>
  
  
  </tr>
    <tr>
  <td>手机Wap支持</td>
 <td><span class="right-r">√</span>(仅一套)</td>
<td><span class="right-r">√</span>(两套Wap模板)</td>
 <td><span class="right-r">√</span>(全部)</td>

 <td><span class="right-r">√</span>(全部)</td>
  
  
  </tr>
   <tr>
  <td>安卓/IOS</td>
 <td ><span class="wrong-w">×</span></td>
 <td ><span class="wrong-w">×</span></td>
 <td ><span class="wrong-w">×</span></td>

 <td><span class="right-r">√</span></td>
  
  
  </tr>
  
    <tr>
  <td>二次开发全部文档提供</td>
  <td><span class="right-r">√</span>(仅web)</td>
 <td><span class="right-r">√</span>(仅web)</td>
 <td><span class="right-r">√</span>(app除外)</td>

 <td><span class="right-r">√</span>(全部)</td>
  
  
  </tr>

  
 
   <tr>
  <td>程序安装技术支持</td>
 <td ><span class="wrong-w">×</span></td>
 <td><span class="right-r">√</span></td>
 <td><span class="right-r">√</span></td>
 <td><span class="right-r">√</span></td>
  
  </tr>
  
  
  
 


<tr>
                        <td class="section text-center" colspan="6"><strong>商业扩展礼包</strong></td>
                    </tr>
                    
                    <tr>
                        <td>问答采集</td>
                        <td><span class="wrong-w">×</span></td>
                        <td><span class="right-r">√</span></td>
                        <td><span class="right-r">√</span></td>
                        <td><span class="right-r">√</span></td>
                       
                    </tr>
                      <tr>
                        <td>文章采集</td>
                        <td><span class="wrong-w">×</span></td>
                        <td><span class="right-r">√</span></td>
                        <td><span class="right-r">√</span></td>
                        <td><span class="right-r">√</span></td>
                       
                    </tr>
                    <tr>
                        <td class="section text-center" colspan="5"><strong>技术支持</strong></td>
                    </tr>
                    <tr>
                        <td>社区问答支持</td>
                        <td><span class="right-r">√</span></td>
                        <td><span class="right-r">√</span></td>
                        <td><span class="right-r">√</span></td>
                        <td><span class="right-r">√</span></td>
                       
                    </tr>
                    <tr>
                        <td>工单支持</td>
                        <td><span class="wrong-w">×</span></td>
                        <td><span class="right-r">√</span></td>
                        <td><span class="right-r">√</span></td>
                        <td><span class="right-r">√</span></td>
                       
                    </tr>
                    <tr>
                        <td>QQ工程师</td>
                        <td><span class="wrong-w">×</span></td>
                       
                        <td>初级</td>
                        <td>中级</td>
                        <td>高级</td>
                    </tr>
                    <tr>
                        <td>支持内容</td>
                        <td><span class="wrong-w">×</span></td>
                      
                        <td>使用</td>
                        <td>使用、开发</td>
                        <td>使用、开发</td>
                    </tr>
                  

   <tr class="itinfo"><td colspan="5" class="text-center"><strong>软件费用</strong></td></tr>
   <tr>
  <td></td>
 <td>免费</td>
<td><strong class="text-success">3500元</strong></td>
 <td><strong class="text-success">6000元</strong></td>

 <td><strong class="text-success">12000元</strong></td>
  
  
  </tr>
 
  
  <tr><td class="section text-center" colspan="5"><strong>专业部署实施费用</strong></td></tr>
  
  <tr>
                        <td>Ask2网站部署<br>包含：服务器基础优化</td>
                        <td colspan="4">1000元/次</td>
                    </tr>
                    <tr>
                        <td>协助采购服务器<br>赠送：协助域名备案</td>
                        <td colspan="4">200元</td>
                    </tr>
                    <tr>
                        <td>微信公众号配置<br>服务号含授权登录配置</td>
                        <td colspan="4">400元/次</td>
                    </tr>
                      <tr>
                        <td>数据迁移配置</td>
                        <td colspan="4">500元/次</td>
                    </tr>
                    <tr>
                        <td>邮件配置</td>
                        <td colspan="4">100元/次</td>
                    </tr>
                    <tr>
                        <td>短信配置</td>
                        <td colspan="4">100元/次</td>
                    </tr>
                      <tr>
                        <td>全文检索配置</td>
                        <td colspan="4">300元/次</td>
                    </tr>
                      <tr>
                        <td>伪静态配置</td>
                        <td colspan="4">200元/次</td>
                    </tr>
                      <tr>
                        <td>第三方平台整合配置</td>
                        <td colspan="4">200元/次</td>
                    </tr>
                    <tr><td class="section text-center" colspan="5"><strong>第三方同步登陆配置</strong></td></tr>
                    <tr>
                        <td colspan="2">QQ</td>
                        <td colspan="2">微信</td>
                        <td colspan="2">新浪</td>
                    </tr>
                    <tr>
                        <td colspan="2">网站端：100元/次<br>移动端：100元/次</td>
                      <td colspan="2">网站端：100元/次<br>移动端：100元/次</td>
                      <td colspan="2">网站端：100元/次<br>移动端：100元/次</td>
                       
                    </tr>
                    <tr>
                        <td class="tips text-center" colspan="6">
                            注意：上述增值服务申请过程中所需的费用需额外支付
                                        <div class="btn-group dropup" style="margin-left: 20px">
        <button type="button" class="btn btn-danger">查看</button>
        <button type="button" class="btn dropdown-toggle text-danger" data-toggle="dropdown">
          <span class="caret text-danger"></span>
        </button>
        <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu">
          <li role="presentation" class="dropdown-header">以下费用需额外支付</li>
          <li>
            <p>域名备案费用</p>
          </li>
          <li>
            <p>服务器采购费用</p>
          </li>
        
          <li>
           <p>微信服务号开通需300元</p>
          </li>
           
            <li>
           <p>短信条数根据短信平台的收费收取。</p>
          </li>
            <li>
             <p>融云采购保存历史记录需600元。</p>
          </li>
           <li>
          <p>微信同步登陆时需要认证<br>微信开发者账号300元</p>
          </li>
           
        </ul>
      </div>
                            
                           
                         
                           
                           
                  
                          
                        </td>
                    </tr>
   <tr class="itinfo"><td colspan="5" class="text-center"><strong>个性化定制</strong></td></tr>
   <tr>
  <td  colspan="5">
   
  根据实际需求，提供相关需求文档，我们做出对应报价单
  </td>

  
  </tr>
  
 
   <tr>
  <td  colspan="6">
   <ul class="qlist">
     <li>1.未授权站长遇到相关技术问题，官网支持</li>
      <li>2.个人私自二次开发后导致的问题</li>
       <li>3.服务器或者虚拟主机环境导致问题</li>
        <li>4.对数据库修改造成的问题</li>
         <li></li>
   </ul>
    
  </td>

  
  </tr>
  </tbody>
  </table>

<div class="buymethod">
  <h2 class="text-center">付款方式</h2> 
<hr>
<table class="table font-18">
<thead> <th>开户行</th><th>账号名</th><th>账号</th></thead>
<tbody>

<tr>

<td>
公司支付宝
</td>

<td>
北京正影网络科技有限公司
</td>
<td>
15911179271@139.com
</td>
</tr>

<tr>

<td>
民生银行阜成门支行(对公账号)
</td>

<td>
北京华鑫杰瑞计算机系统工程有限公司（总公司)
</td>
<td>
626833648
</td>
</tr>
</tbody>
</table>
<div class="buytip">
<ul class="nav">
<li>
购买注意事项：
</li>
<li>

1、个人用户不提供发票。企业用户如需开具发票需要在销售款上另加20%税款和20元EMS费用！
</li>
<li>

2、提示：通过非以上账号付款导致的任何问题将由客户自行承担
</li>
</ul>

</div>
</div>



<div class="container" style="text-align: center;padding-top: 20px">
<a href="http://wpa.qq.com/msgrd?v=3&amp;uin=617035918&amp;site=qq&amp;menu=yes" class="btn btn-success btn-lg">
点此获得您的私人客户经理</a>
</div>

</div>


</div>

</div>

<!--{template footer}-->