
<div class="SW_footer">
	<div class="ft layout clearfix hidden-xs">
		<div class="slogan"><a href="/"></a></div>
		<div class="ft_item">
			<h4 class="a1">关于我们</h4>
			<ul>
				<li><a href="" target="_blank" rel="nofollow">本站介绍</a></li>
				<li><a href="" target="_blank" rel="nofollow">联系我们</a></li>
				<li><a href="" target="_blank" rel="nofollow">用户协议</a></li>
				<li><a href="feed/"><?php _e('内容订阅'); ?></a></li>
			</ul>
		</div>
		<div class="ft_item">
			<h4 class="a2">站内导航</h4>
			<ul>
				<li><a href="dashiji/"><?php _e('网站记事'); ?></a></li>
				<li><a href="music/"><?php _e('听音乐'); ?></a></li>
				<li><a href="pinglun/"><?php _e('赏牛评'); ?></a></li>
			</ul>
		</div>
		<div class="ft_item">
			<h4 class="a3">合作赞助</h4>
			<ul>
				<li><a href="" target="_blank">空间赞助</a></li>
				<li><a href="" target="_blank">广告支持</a></li>
				<li><a href="" target="_blank" rel="nofollow">伊人加入</a></li>
			</ul>
		</div>
		<div class="ft_item">
			<h4 class="a4">常用链接</h4>
			<ul>
				<li><a href="http://www.xhsay.com" target="_blank">小浩博客</a></li>
				<li><a target="_blank" href="http://wpa.qq.com/msgrd?v=3&amp;uin=2244340421&amp;site=qq&amp;menu=yes"><img border="0" src="<?php echo G_STATIC_URL; ?>/css/fox/img/ft_qq.png" alt="联系站长" title="联系站长"></a></li>
			</ul>
		</div>
		<div class="ft_item hidden-xs hidden-sm">
			<h4 class="a5">二维码</h4>
			<a href="{SITE_URL}" target="_blank"><img src="{SITE_URL}css/default/static/css/fox/img/QR.png" width="100" height="100" alt="手机访问"></a>
		</div>
	</div>
	<div class="cp">分享 倾听 成长 Copyright (c) <?php echo date('Y'); ?><?php if(get_setting('icp_beian')){ ?><span class="hidden-xs"> - {$setting['site_icp']}, All Rights Reserved</span> Ask2问答 版权所有 Support by xiaomi</div>
	
</div>

<a href="javascript:;" id="gotoTop" class="show hidden-xs"><i></i></a>
<!-- <a class="aw-back-top hidden-xs" href="javascript:;" onclick="$.scrollTo(1, 600, {queue:true});"><i class="icon icon-up"></i></a>-->

 <!--{if $setting['site_statcode']}-->
           {eval echo str_replace('\\','',$setting['site_statcode']);}
            <!--{/if}-->

<!-- DO NOT REMOVE -->
<div id="aw-ajax-box" class="aw-ajax-box hidden-xs"></div>
<script type="text/javascript" language="javascript"> var Default_isFT = 0 </script>
<SCRIPT language=Javascript src="{SITE_URL}css/default/static/js/fox_language.js"></SCRIPT> 



<!-- / DO NOT REMOVE -->


</body>
</html>
