<?php if (!defined('app_fox')) exit('No direct script access allowed');?>
<div class="aw-mod aw-text-align-justify">
	<?php if ($this->top_verified_users) {?>
	<div class="mod-head">
		<a href="account/setting/verify/" class="pull-right"><?php _e('申请'); ?> &gt;</a>
		<h3><?php _e('认证达人'); ?></h3>
	</div>
	<?php $ust=count($this->top_verified_users);
	if($ust>0)
	foreach($this->top_verified_users as $key => $val) { ?>
	<div class="mod-body">
		<dl>
			<dt class="pull-left aw-border-radius-5">
				<a href="people/<?php echo $val['url_token']; ?>"><img alt="" src="<?php echo get_avatar_url($val['uid'], 'mid'); ?>" /></a>
			</dt>
			<dd class="pull-left">
				<a href="people/<?php echo $val['url_token']; ?>" data-id="<?php echo $val['uid']; ?>" class="aw-user-name"><?php echo $val['user_name']; ?><?php if ($val['verified']) { ?><i class="icon-v<?php if ($val['verified'] == 'enterprise') { ?> i-ve<?php } ?>" title="<?php if ($val['verified'] == 'enterprise') { ?>企业认证<?php } else { ?>个人认证<?php } ?>"></i><?php } ?>
						<?php echo $val['signature']; ?></a>
				<p class="signature"><?php echo $val['signature']; ?></p>
				<p><?php _e('%s 个问题', '<b>' . $val['answer_count'] . '</b>'); ?>, <?php _e('%s 次赞同', '<b>' . $val['agree_count'] . '</b>'); ?></p>
			</dd>
		</dl>
		<ul class="text-color-999">
			<p><i class="icon icon-prestige text-color-999"></i><?php _e('威望'); ?> <b><?php echo $val['reputation']; ?></b> <em class="text-color-999">•</em> <i class="icon icon-thank text-color-999"></i><?php _e('感谢'); ?> <b><?php echo $val['thanks_count']; ?></b>
			</p>
			<p>
			<i class="icon icon-user text-color-999"></i><?php _e('粉丝'); ?> <b><?php echo $val['fans_count']; ?></b>
			<?php if (get_setting('integral_system_enabled') == 'Y') { ?> <em class="text-color-999">•</em>	
			<i class="icon icon-score text-color-999"></i><?php _e('积分'); ?> <b><?php echo $val['integral']; ?></b>
			<?php } ?>
			</p>
		</ul>
		<?php if ($val['uid'] != $this->user_id AND $this->user_id) { 
		if(isset($val['reputation_topics'])){?>
		<ul class="user-home-question clearfix">
			<li><span class="pull-left"><?php _e('擅长'); ?>:</span>
			<?php foreach($val['reputation_topics'] as $t_key => $t_val) { ?>
				<span class="topic-tag">
					<a href="topic/<?php echo $t_val['url_token']; ?>" class="text" data-id="<?php echo $t_val['topic_id']; ?>"><?php echo $t_val['topic_title']; ?></a>
				</span>
			<?php } ?>
			</li>
		</ul>
		<?php } ?>
		<ul class="user-home-question clearfix">
			<li>
			<a onclick="AWS.dialog('publish', {category_enable:<?php echo (get_setting('category_enable') == 'Y') ? '1' : '0'; ?>, ask_user_id:<?php echo $val['uid']; ?>, ask_user_name:'<?php echo $val['user_name']; ?>'});" class="register btn btn-success btn-mini"><i class="icon icon-signup"></i> <?php _e('向Ta提问'); ?></a>
			<a onclick="AWS.dialog('inbox', '<?php echo $val['user_name']; ?>');" class="login btn btn-primary btn-mini"><i class="icon icon-login"></i> <?php _e('私信Ta'); ?></a>
			</li>
        </ul>
	<?php } ?>
	</div>
	<?php if($key<=$ust-2){?>
	    <div class=" fox-dborder"></div>
	<?php } ?>	
	<?php } ?>
	<?php } ?>
</div>